{% extends 'base_navbartop.html' %}

{% block title %}
    Contact Us
{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock %}

{% block content %}

  {% load widget_tweaks %}

  <div class="container mb-20px">
    <div class="col-sm-8 col-centered bg-ghostwhite">
        <h2>Contact Us</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.subject.label }}:
            {{ form.subject }}
          </div>
          <div class="form-group">
            {{ form.message.label }}:
            <p>{{ form.message|add_class:"width-100 noresize" }}</p>
          </div>
          <button type="submit">Submit</button>
        </form>
    </div>
  </div>
{% endblock %}