{% extends 'base_navbartop_plain.html' %}

{% block content %}
  <div class="container mb-20px">
    <div class="col-sm-8 col-centered bg-ghostwhite">
        <h2>Reset password</h2>
        <p>In case you forgot your password, enter your account email in the input below.</p>
        <p>An email with password reset link will be sent to you.</p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Send email</button>
        </form>
    </div>
  </div>
{% endblock %}